@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin clip-color {
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@mixin solid-color-105d-gradient($url) {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url($url);
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER
/*
  Screens
  0->600px   = phone
  600->900px = Tablet portrait (tab-port)
  900-1200px = Tablet Landscape (tab-land)
  1800px+    = Big Desktop (big-desk)
   Breakpoints 
   -phone
   -tab-port
   -tab-land
   -big-desk
   1em = 16px;
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      //600px;
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      //900px;
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      //1200px
      @content;
    }
  }
  @if $breakpoint == big-desk {
    @media (min-width: 112.5em) {
      //1800px
      @content;
    }
  }
}
